<div class="min-h-screen text-gray-50">
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold pt-6">Welcome to VoiceToText</h1>
  </div>

  <div class="flex flex-col items-center mt-5">
    <p>Drag or share your audio</p>
  </div>
  <div class="flex flex-col items-center justify-center pt-20">
    <ng-lottie [options]="options" class="size-72" />
  </div>

  <div class="flex justify-center items-center mt-20">
    <div class="w-full md:w-3/4 lg:w-1/2">
      <label for="transcription" class="block my-2">Transcription:</label>
      <textarea
        class="text-black resize-none rounded-lg outline-none shadow-lg w-full"
        name="transcription"
        id="transcription"
        rows="10"
        readonly
      ></textarea>
    </div>
  </div>
</div>
